/target
/dist
/docs/node_modules
/node_modules
bindings/java
bindings/go
bindings/ruby
bindings/swift
bindings/swift/.build
npm/*/libquasar_svm.*
npm/*/quasar_svm.*
libquasar_svm*
quasar_svm.dll
.npmrc
package-lock.json

# Python
bindings/python/.pytest_cache
bindings/python/.venv
bindings/python/quasar_svm.egg-info
bindings/python/*/__pycache__